.header
	ul.nav.nav-pills.pull-right
		li.active
			a(ng-href='#') Home
		li
			a(ng-href='#') About
		li
			a(ng-href='#') Contact
	h3.text-muted angularapp

.jumbotron
	h1 'Allo,' 'Allo!'
	p.lead
		img(src='images/yeoman.png', alt='I\"m yeoman!"')
		br
		| Always a pleasure scaffolding your apps.
	p
		a.btn.btn-lg.btn-success(href='#') Splendid!

.row.marketing
	ul
		li(ng-repeat='thing in awesomeThings') {{thing}}

.footer
	p
		span.glyphicon.glyphicon-heard
		| ♥ from the Yeoman team