.header
	ul.nav.nav-pills.pull-right
		li.active
			a(href='#') Home
		li
			a(href='#') About
		li
			a(href='#') Contact
	h3.text-muted someApp

.jumbotron
	h1 'Allo, 'Allo!
	p.lead Always a pleasure scaffolding your apps.
	p
		a.btn.btn-lg.btn-success(href='#') Splendid!
	ul
		li(ng-repeat='thing in awesomeThings')
			| 

.row.marketing
	h4 HTML5 Boilerplate
	p
		| HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
	h4 Angular
	p
		| AngularJS is a toolset for building the framework most suited to your application development.
	h4 Karma
	p Spectacular Test Runner for JavaScript.

.footer
	p ♥ from the Yeoman team